/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  color:var(--color-text);
  background-color:var(--color-background);
}

main {
	display: grid;
	grid-template-columns:span 2;
}

nav  {
	
	background-image: url(https://www.ajax.nl/frontend/assets/images/visuals-patterns-red.png);
	padding: 0%;
	margin: 0%;
	
}


nav ul li {
	list-style: none;
	color: white;
	
}

article {
	padding: 1em;
}




img { 
	max-width: 100%;
	height: auto;

}